@import url("https://fonts.googleapis.com/css?family=Anton|Catamaran|Ubuntu&display=swap");

:root {
  --primary-bg-color: #111;
  --primary-txt-color: #fff;
  --secondary-bg-color: #fff;
  --secondary-txt-color: #111;
  --txt-special: #ffb347;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

button[data-type="light"],
button[data-type="dark"] {
  background: #ffb347;
  background: -webkit-linear-gradient(to right, #ffcc33, #df8508);
  background: linear-gradient(to right, #ffcc33, #df8508);
  background-size: 300%;
  background-position: left;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px 30px;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  margin: 20px 0;
  box-shadow: 0 0 40px 4px rgba(0, 0, 0, 0.4);
}

button[data-type="dark"] {
  background: #232526; 
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #232526
  ); 
  background: linear-gradient(
    to right,
    #414345,
    #232526
  ); 
  background-size: 300%;
  background-position: left;
  color: white;
}

button:hover,
button:focus {
  background-position: right;
  transition: background-position 1s ease-in-out;
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

p {
  margin: 15px 0;
  color: #111;
  font-family: "Catamaran", sans-serif;
  line-height: 20px;
  text-align: center;
  font-size: 17px;
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 21px;
  color: rgb(43, 43, 43);
  text-transform: uppercase;
}